
body {
    background-color: #FCECDD;
    color: black;
    padding: 20px;
}


.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

h1{
    font-size: 1.8rem;
    font-family: 'Lobster';
    background-color: #E58543;
    border-radius: 20px;
}

h2{
    font-family: 'M Plus Rounded 1C';
    font-weight: 900;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

form label {
    flex: 1 1 100%;
    font-weight: bold;
}

form input, form textarea {
    flex: 1 1 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #FFC107;
    border-radius: 6px;
    font-family: 'M Plus Rounded 1C';
    font-weight: 400;
}

form button {
    background-color: #347433;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'M Plus Rounded 1C';
    font-weight: 900;
}

form button:hover {
    background-color: #234D28;
    transform: scale(1.02);
}

a {
    color: #347433;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
